@model string
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Logout" asp-controller="Account">
    <input class="btn btn-outline-dark btn-sm" style="border-radius: 0px;" type="submit" value="Logout"/>
</form>