@model IQueryable<CallBoardNix.Models.CategoryView>
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="pt-4 pb-4">
    <a class="btn btn-outline-dark btn-sm" style="border-radius: 0px;"  asp-controller="Admin" asp-action="CategoryCreate">Create Categoory</a>
</div>
<table>
    <tr>
        <th class="row">
            <h6>Category Name</h6>
            <div class="col">
                Sort:
                <a style="color:red" asp-action="Category" asp-route-sort="Asc">Asc</a>
                <a style="color:red" asp-action="Category" asp-route-sort="Desc">Desc</a>
            </div>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="border-top border-dark">
            <td>
                @item.CategoryName
            </td>
            <td style="padding-left:1100px">
                <a style="color:red" asp-action="CategoryEdit" asp-route-IdCategory="@item.IdCategory">Edit  </a>
            </td>
            <td>
                <a style="color:red" asp-action="Category" asp-route-IdCategoryDelete="@item.IdCategory">Delete</a>
            </td>
        </tr>
    }
</table>
<br>
