@model RegisterModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "/Views/Shared/_LayoutLogReg.cshtml";
}


<div class="container text-center w-25">
    
    <form asp-controller="Home" asp-action="Register">
         
        <br><h6>Change! Who are you?</h6>
        <h6>I am <select name="status">
            <option value="Worker">Worker</option>
            <option value="Employer">Employer</option>
        </select></h6>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <br><div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <br><div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <br><div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <br><div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div>
        <br><div class="form-group">
            <label asp-for="Password" class="control-label">Repeat password</label>
            <input asp-for="Password" class="form-control" />
            @*<span asp-validation-for="" class="text-danger"></span>*@
        </div><br>
        <div class="form-group">
            <input type="submit" value="Sign up" class="btn btn-outline-dark btn-sm" />
        </div><br>
    </form>
</div>
